TAGS
autom4te.cache/
configure
git_hash.h
read_input.c
*.d
*.o
*~
Makefile
config.log
tmlqcd_config_internal.h
config.status
*.mod.c
*.opari.inc
build/*
tags
*.a
hmc_tm
invert
offline_measurement
lib/
benchmark
*.data
*.para
*.dat
*.out
.nstore_counter
doc/*.bbl
doc/*.blg
doc/*.dvi
doc/*.fdb_latexmk
doc/*.fls
doc/*.log
doc/*.toc
doc/*.aux
doc/*.pdf
doc/*.eps
doc/*.ps
doc/*.txt
doc/*.gpl
doc/wrapper*
history_hmc_tm
